button {
  font-family: 'Montserrat', sans-serif;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 44px;
  background-color: #cfcfcf;
  border: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #989898;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  text-transform: uppercase;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 50px;
  margin-bottom: 32px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  background-color: #fff;
  outline: none;
  padding-left: 16px;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:active {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  background-color: #fafafa;
}
